[submodule "picotcp"]
	path = lib/picotcp
	url = git@github.com:tass-belgium/picotcp.git
[submodule "lib/picotcp-modules"]
	path = lib/picotcp-modules
	url = https://github.com/tass-belgium/picotcp-modules.git
[submodule "lib/cyassl"]
	path = lib/cyassl
	url = git@github.com:cyassl/cyassl.git
